@charset "UTF-8";
@font-face {
	
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url("https://media.istockphoto.com/id/919507224/photo/plastered-concrete-wall.jpg?b=1&s=170667a&w=0&k=20&c=iD2ctmZZArjKIDUHamC3UY1BdDF1-zOIXoI7gL7h3po=");
	background-size: cover;
	background-position:center;	
}

nav{
	Display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color:floralwhite;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #5C25A5;	
}
Nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
Nav ul li a{
	color: white;
	text-decoration: None;
	font-weight: 900;
	
}
Nav ul li a:hover{
	color: #5C25A5;
	transition: .4s;
}
.btn{
	background-color: #5C25A5;
	color: floralwhite;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: 900;
	padding: 10px 25px;
	border-radius: 30px;
	transition: .04s;
}
.btn:hover{
	transform: scale(1.1);
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%)	
}
h1{
	color: floralwhite;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: floralwhite;
	margin-bottom: 50px;
	font-size: 20px;
}
h4{
	color: #B7A0D6;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: -35px;
}
.newsletter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #5C25A5;
	outline: none;
	border-radius: 30px;
}
.newsletter form input:last-child{
	position:absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #5C25A5;
	color: white;
	font-weight: 900;
	box-shadow: 0px 0px 3px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}